.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart p{
    background-color: black;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-size: smaller;
    font-weight: bold;
}

.nav-link:hover{
 color: black;
 font-weight: 500;
}
