.item{
    margin: 0.5rem;
    width: 300px;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.description{
    color: #9e3500;
    font-weight: 600;
}

.sname{
    color: black;
    font-weight: 600;
}

.scolor{
    color: #707072;
}

.price{
    color: black;
    font-weight: bold;
}

.hero button{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 1rem;
    padding: 0.5rem;
}

.image img{
    width: 300px;
}